body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/IMAGE-landscape-default-fill-d7bdb49a-6a80-47ef-813e-dbf12c04654a-default_0.jpg') center/cover no-repeat fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out; 
}

.product a {
    text-decoration: none;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100px; 
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out; 
}
footer {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
}
.social-icons {
    display: flex;
}

.social-icon {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.social-icon img {
    max-width: 20px; 
    margin-right: 5px;
}
.social-icon:hover {
    color: #ccc;
}
@media screen and (max-width: 507px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 5px 0;
    }
 
    .product {
        width: 100%;
        box-sizing: border-box;
    }
}

